<div [ngClass]="'container'">
  <header>
    <div [ngClass]="'row'">
      <div [ngClass]="'col-md-4 col-sm-12'">
        <h1 [ngClass]="'logo'">UW Course Planner</h1>
        <h2><button [ngClass]="'btn btn-primary'">Test</button></h2>
      </div>
    </div>
  </header>
  <!-- Static navbar -->
  <nav [ngClass]="'navbar navbar-default'">
    <div [ngClass]="'container-fluid'">
      <div [ngClass]="'navbar-header'">
        <button type="button" [ngClass]="'navbar-toggle collapsed'" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span [ngClass]="'sr-only'">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span [ngClass]="'icon-bar'"></span>
          <span [ngClass]="'icon-bar'"></span>
        </button>
      </div>
      <div id="navbar" [ngClass]="'navbar-collapse collapse'">
        <ul [ngClass]="'nav navbar-nav'">
          <li><a href="#">Test</a></li>
          <li><a href="#">Test 2</a></li>
        </ul>
        <ul [ngClass]="'nav navbar-nav navbar-right'">
         <form [ngClass]="'navbar-form'">
          <div [ngClass]="'form-group'">
            <input type="text" [ngClass]="'form-control'" placeholder="Search...">
          </div>
          <button type="submit" [ngClass]="'btn btn-default'">Search</button>
         </form>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>