<form [formGroup]="registerForm">
   <div class="form-group">
     <mat-form-field>
     <input matInput type="email" placeholder= "email" formControlName="email" required>
    </mat-form-field>
   </div>
   <div class="form-group">
     <mat-form-field>
      <input matInput required placeholder="password" formControlName="password" type="password">
    </mat-form-field>
     <label class="error">{{errorMessage}}</label>
     <label class="success">{{successMessage}}</label>
   </div>
   <button mat-button (click)="register(registerForm.value)">Register</button>
   <button mat-button (click)="login(registerForm.value)">Login</button>
</form>